<nav>
    <div class="logo">
        <a href="/"><h1>Blog site</h1></a>
        <p>node project 1</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">+ blog</a></li>
    </ul>
</nav>