<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima perspiciatis rerum vel porro vitae reiciendis voluptate corrupti dolorum nobis, nemo molestiae, tenetur quisquam saepe nisi. Laudantium facilis alias corrupti aliquid.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic molestias cumque recusandae numquam, qui dignissimos facere expedita deleniti, temporibus inventore est animi vel fugiat doloribus. Ex nobis omnis qui similique!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptate in corrupti ipsa odit rerum accusamus velit quibusdam, assumenda nobis? Corporis enim dolorem magni impedit quidem totam nihil cupiditate esse!</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>